@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Rue de la Régence 2,
    <br />
    B-1000 Bruxelles
    <br />
    <abbr title="Phone">P:</abbr>
    +32.2.551.8808
</address>

<address>
    <strong>Supervisor:</strong>   <a href="mailto:MichielsB@ccrek.be">MichielsB@ccrek.be</a><br />
    <strong>Trainee:</strong> <a href="mailto:GucciardiD@ccrek.be">GucciardiD@ccrek.be</a>
</address>