@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <div class="col-md-4">
        <h2>Getting started in CCREK</h2>
        <h3>Créer une webapp inspirée de Thot</h3>
        <p>
            Consignes :<br />
            <ul>
                <li>Utiliser ASP.NET MVC</li>
                <li>Ajouter logique dans le front-end &rarr; validations</li>
                <li>Utiliser des stored procedures</li>
                <li>Gérer les lockings : optimistic - pessimistic</li>
                <li>...</li>
            </ul>
        </p>        
    </div>

</div>